

@media (min-width: 0px)
	body
		padding: 0
		padding-bottom: 80px
	.img
		width: 100%
	nav
		height: 80px
		bottom: 0
		padding: 0 10px
		border: none
		background-color: $dark-blue

	#about-cops
		background: none

	#give
		display: inline-block
		float: right
		margin-top: 10px


	#logo-container
		div
			img
				margin: 5% 0 0 5%

	.container
		width: 100%
		padding: 10px

		.row
			.col-3
				width: 100%
				padding: 10px 0px

				.card
					padding: 10px

					table
						width: 95%

	#hero
		.name-container
			.logo-txt
				margin: 0
				font-size: 24px

			.tbl
				margin-top: 5px

				div
					margin: 2px 0

					&:first-child, &:last-child
						height: 3px

					&:nth-child(2)
						height: 2px
	#search-container
		width: 90%

	#result-container
		.head:nth-child(2), .head:nth-child(3), .head:nth-child(5), .head:nth-child(7)
			display: none

		table
			.head:nth-child(2)
				display: none


@media (min-width: 480px)
	body
		padding-bottom: 80px
	nav
		height: 80px
		bottom: 0
		border: none

	.heading
		font-size: 24px

	#burger
		display: inline-block
		padding: 5px
		img
			margin: 15% 10px

	#give
		display: inline-block
		float: right

	#hero

		.name-container
			.logo-txt
				font-size: 32px

			.tbl

				div
					margin: 2px 0

					&:first-child, &:last-child
						height: 4px

					&:nth-child(2)
						height: 3px

@media (min-width: 768px)

	body
		padding-bottom: 0px

	.img
		width: 65%
	nav
		height: 100px
		top: 0
		background-color: transparent
		padding: 0 35px

	#give
		margin-top: 25px
	#hero
		.name-container
			.logo-txt
				font-size: 42px

	#logo-container
		div
			img
				margin-top: 10%
	.container
		width: 100%
		padding: 10px

		.row
			.col-3
				padding: 10px
				.card



	.heading
		font-size: 28px

	#about-cops
		background: url("http://run.brycejech.com/assets/images/cops_salute.jpg") no-repeat
		background-size: cover
		background-position: top left
		background-attachment: fixed

		h1
			font-size: 56px

	#search-container
		width: 250px

	#info
		.container
			width: 98%

@media(min-width: 992px)
	nav
		height: 110px
		top: 0

	#hero

		.name-container
			.logo-txt
				font-size: 54px

	.container
		width: 75%
		padding: 25px

		.row
			.col-3
				.card
					padding: 25px

					table
						width: 90%

	.heading
		font-size: 38px


@media(min-width: 1200px)
	nav
		height: 125px
		top: 0


	#hero
		.name-container
			.logo-txt
				font-size: 60px

	.container
		.row
			.col-3
				.card


@media(min-width: 1280px)

	.container
		.row
			.col-3
				width: 33.333%
				padding: 10px

				.card
					height: 515px

@media(min-width: 1310px)

	.container
		.row
			.col-3
				.card
					height: 490px

@media(min-width: 1350px)

	.container
		.row
			.col-3
				.card
					height: 490px


@media(min-width: 1500px)

	.container

		.row

			.col-3

				.card
					height: 450px
	#hero
		.name-container
			.logo-txt
				font-size: 78px

@media(min-width: 1700px)
	.container
		.row
			.col-3
				.card
					height: 365px
